.mission {
	$self: &;
	margin-bottom: 105px;
	
	@include media('<=xs') {
		margin-bottom: 50px;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 20px;
		
		@include media('<=xs') {
			margin-bottom: 15px;
		}
	}

	&__text {
		max-width: 800px;
		line-height: 1.6;
	}
}