.button {
	$self: &;
	@extend %reset-button;
	width: fit-content;
	display: block;
	align-items: center;
	background-color: #FFD600;
	border-radius: 100px;
	padding: 15px 25px;
	color: #333845;
	white-space: nowrap;
	font-family: "IT", sans-serif;
	font-weight: 500;
	gap: 10px;

	svg {
		flex-shrink: 0;
		width: 23px;
		aspect-ratio: 1;
	}
}