.footer {
	$self: &;
	background-color: #272F37;
	font-family: "SG", sans-serif;
	color: #919498;
	
	&__top {
		padding: 60px 0 70px;
		display: flex;
		
		@include media('<=xs') {
			padding: 45px 0 55px;
		}

		@include media('<=xxs') {
			display: block;
		}
	}

	&__info {
		box-sizing: border-box;
		width: 100%;
		max-width: 415px;
		padding-right: 24px;
		
		@include media('<=xxs') {
			padding: 0;
			max-width: none;
			margin-bottom: 20px;
		}
	}
	
	&__logo {
		color: #fff !important;
		margin-bottom: 35px;
		
		@include media('<=xxs') {
			width: fit-content;
			margin: 0 auto 20px;
		}
	}
	
	&__text {
		font-size: 11px;
		max-width: 220px;
		line-height: 1.6;
		
		@include media('<=xxs') {
			max-width: none;
			text-align: center;
		}

		a {
			color: inherit;
		}
	}

	&__side {
		flex-grow: 1;
	}

	&__bottom {
		background-color: #1D2630;
		padding: 30px 0;
		line-height: 1.6;

		@include media('<=sm') {
			font-size: 13px;
		}
	}
	
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media('<=xxs') {
			display: block;
		}
	}
	
	&__copy {
		
		@include media('<=xxs') {
			text-align: center;
			margin-bottom: 14px;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}
	
	&__dev {
		display: flex;
		align-items: center;
		flex-shrink: 0;

		@include media('<=xs') {
			justify-content: center;
		}

		span {
			white-space: nowrap;
			margin-right: 12px;
		}
		
		a {
			display: flex;
			flex-shrink: 0;
		}
	}
}