.logo {
	$self: &;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 13px;
	text-decoration: none;
	font-family: "IT", sans-serif;
	font-size: 24px;
	font-weight: 800;
	color: #2A3848;
		
	@include media('<=sm') {
		font-size: 21px;
	}

	&__icon {
		align-self: stretch;
		display: flex;
		align-items: center;
		min-width: 35px;
		
		@include media('<=sm') {
			min-width: 20px;
			max-width: 35px;
		}
	}

	span {
		padding-top: 5px;
	}
}
