.f-side {
	$self: &;

	&__cols {

	}

	&__col {

	}

	&__title {

	}

	&__link {
		color: inherit;
		text-decoration: none;
	}

	&__email {

	}

	&__button {

	}

	&__subtitle {

	}

	&__social {

	}
}