.h-navi {
	$self: &;
	display: flex;

	@include media('<=md') {
		flex-flow: column nowrap;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		padding: 50px 20px 20px;
	}

	&__close {
		@extend %reset-button;
		display: none;
		position: absolute;
		z-index: 1;
		top: 15px;
		right: 15px;

		@include media('<=md') {
			display: block;
		}

		svg {
			width: 25px;
			aspect-ratio: 1;
		}
	}

	&__menu {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		width: 100%;

		@include media('<=md') {
			flex-flow: column nowrap;
			align-items: center;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		text-decoration: none;
		white-space: nowrap;
		color: #2A3848;
		padding: 0 7px;
		
		@include media('<=md') {
			display: block;
			padding: 15px 0;
		}
	
		&_accent {
			margin-right: 7px;
			
			@include media('<=md') {
				margin: 0 0 30px;
			}
			
			&.button {
				display: inline-flex;
				padding: 12px 22px;
			}
		}
	}
}