.h-navi {
	$self: &;
	display: flex;

	&__close {
		@extend %reset-button;
		display: none;

		svg {
			width: 23px;
			aspect-ratio: 1;
		}
	}

	&__menu {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__link {
		display: flex;
		align-items: center;
		text-decoration: none;
		white-space: nowrap;
		color: #2A3848;
		padding: 0 10px;

		&_accent {
			display: inline-flex;
			padding: 12px 22px;
			margin-right: 10px;
		}
	}
}