@import "lib/additional.scss"; 
@include reset(); 

// Browsersync mark
#__bs_notify__ { 
	background-color: rgba(27, 32, 50, 0.4) !important;
	color: rgba(250, 250, 250, 0.6) !important;
}

// Include breakpoints badge
// body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);


// @include font-face("Inter-ExtraLight", "IT", 100);
@include font-face("Inter-ExtraBold", "IT", 800);
@include font-face("Inter-SemiBold", "IT", 600);
@include font-face("Inter-Regular", "IT", 400);
@include font-face("Inter-Medium", "IT", 500);
// @include font-face("Inter-Light", "IT", 300);
@include font-face("Inter-Black", "IT", 900);
@include font-face("Inter-Bold", "IT", 700);
// @include font-face("Inter-Thin", "IT", 200);

// @include font-face("SegoeUI-Light", "SG", 300);
@include font-face("SegoeUI-Regular", "SG", 400);
@include font-face("SegoeUI-SemiBold", "SG", 600);
// @include font-face("SegoeUI-Bold", "SG", 700);

// @import "../../node_modules/swiper/swiper";

// Import BEM blocks scss
@import "../blocks/**/*.scss";

:root {
	--size: #{$basesize}px;
	--container: 1600px;
	--gap: 24px;
	
	@include media('<=xxs') {
		--gap: 20px;
	}
	
	@include media('<=xxxs') {
		--gap: 16px;
	}
}

body, html {
	box-sizing: border-box;
	background-color: #fff;
	font-size: var(--size);
	font-family: "IT", sans-serif;
	color: #333845;
	line-height: 1.2;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

body {
	overflow-x: hidden;
}

.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}

.sprite {
	display: none;
}

p { margin-bottom: 10px; }
em { font-style: italic; }
strong { font-weight: bold; }