.header {
	$self: &;
	padding: 24px 0;
	margin-bottom: 95px;

	&__inner {
		display: flex;
		justify-content: flex-start;
	}

	&__navi-toggle {
		@extend %reset-button;
		display: none;

		svg {
			width: 23px;
			aspect-ratio: 1;
		}
	}

	&__logo {
		width: 100%;
		max-width: 215px;
		margin-right: 10px;
	}

	&__navi {
		box-sizing: border-box;
		margin-right: auto;
		width: 100%;
		max-width: 882px;
	}

	&__side {

	}

	&__search {
		display: flex;
		width: 40px;
		align-items: center;
		justify-content: flex-end;
		height: 100%;

		svg {
			width: 21px;
			aspect-ratio: 1;
		}
	}
}
