.header {
	$self: &;
	padding: 24px 0;
	margin-bottom: 95px;
	
	@include media('<=lg') {
		margin-bottom: 60px;
	}
	
	@include media('<=sm') {
		margin-bottom: 45px;
	}
	
	@include media('<=xxs') {
		padding: 12px 0;
	}

	&__inner {
		display: flex;
		justify-content: flex-start;
	}

	&__navi-toggle {
		@extend %reset-button;
		display: none;
		width: 40px;
		height: 40px;
		align-items: center;

		@include media('<=md') {
			display: flex;
		}

		svg {
			width: 23px;
			height: 23px;
		}
	}

	&__logo {
		width: 100%;
		max-width: 215px;
		margin-right: 10px;
		
		@include media('<=md') {
			margin-right: auto;
		}
		
		&.logo {
			
			@include media('<=xxs') {
				margin-right: 5px;
				font-size: 16px;
			}
		}
	}

	&__navi {
		box-sizing: border-box;
		margin-right: auto;
		width: 100%;
		max-width: 882px;

		@include media('<=md') {
			margin: 0;
			height: 100vh;
			height: 100dvh;
			position: fixed;
			z-index: 12;
			top: 0;
			left: -350px; 
			max-width: 350px;
			transition: left 0.3s linear;
	
			&.opened {
				left: 0;
			}
		}
	}

	&__side {

	}

	&__search {
		display: flex;
		width: 40px;
		align-items: center;
		justify-content: flex-end;
		height: 100%;

		svg {
			width: 21px;
			height: 21px;
		}
	}
}